@import url('fonts.css');

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Animação do background */
.gradient {
    background-color: brown;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container h1, p{
    text-align: center;
}

#convidados_qnt{
    font-size: 30px;
    color: rgb(0, 0, 0);
}


.container h1{
    color: #000000;
}

.container p{
    font-family: 'Source Code Pro';
    color: rgb(0, 0, 0);
}

/*Tabela*/

.tabela{
    font-family: 'Source Code Pro';
    display: flex;
    justify-content: center;
}

table{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgb(36, 0, 86);
    width: 100%;
    border-collapse: collapse;
}

thead th{
    font-size: 20px;
    color: white;
    border-bottom: 3px solid rgb(29, 0, 71);
    padding: 10px;
    text-align: left;
}

thead th:first-child {
    width: 70%;
}

thead th:last-child {
    width: 30%;
}

tbody td{
    font-size: 20px;
    color: white;
    padding: 15px;
    border-bottom-style: dashed;
}

#botao-confirmar {
    position: relative;
    transform: translateX(120%);
    background-color: #0abf00;
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: .2s;
}

#botao-confirmar:hover{
    background-color: #960000;
    border-radius: 50%;
    transition: .2s;
}